@import './variables';

#controls-menu {
  position: relative;
  display: flex;
  height: 45px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $theme;
  margin-bottom: 1rem;

  h1.title {
    position: absolute;
    left: 1em;
    font-size: 2em;
    margin: 0;
    justify-self: start;
  }

  .range-input-container {
    margin: 0 0.2em 0 0.4em;
    display: flex;
    flex-direction: column;
    align-items: center;

    label[for='grid-size-slider'] {
      font-size: 1.5em;
      //   position: absolute;
      bottom: 1em;
      left: 1.9em;
    }
    #grid-size-slider {
      width: 7em;
      //   position: relative;
      top: 0.8em;
    }
  }

  .dropdown-container {
    position: relative;
    padding: 0 0.5em;
    margin: 0 0.2em;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
    &:hover {
      background-color: $highlightColor;
      transition: background-color 0.5s ease;
    }

    p {
      font-size: 1.5em;
    }

    .dropdown-menu-ul {
      display: none;
      list-style: none;
      position: absolute;
      top: 3.6em;
      z-index: 3;
      padding: 0;

      li {
        &:last-child button {
          padding-bottom: 0.5em;
        }

        button {
          font-size: 1.2em;
          padding: 0.5em 1em;
          width: 100%;
          border: none;
          background-color: $theme;
          color: $textColor;

          &:hover {
            background-color: $highlightColor;
          }
        }
      }
    }
  }

  #pathfinding-dropdown {
    ul {
      right: -2.5em;
      width: 170%;
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }

  #maze-dropdown {
    ul {
      width: 250%;
      left: -3.5em;
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }

  // applies to immediate children and nested button in unordered lists
  button {
    appearance: none;
    font-size: 1.4em;
    font-weight: bold;
    border: none;
    font-family: 'Lato', Arial, sans-serif;
    color: var(--font-color);
    background-color: var(--theme);
    height: 100%;
    width: 13em;

    &:hover {
      background-color: $highlightColor;
      transition: background-color 0.4s linear;
    }
  }

  #animation-speed {
    width: 8.7em;
    padding: 0;
    border-radius: 4px;
    margin: 0 0.2em;
  }

  #clear-board {
    width: 6em;
    padding: 0;
    border-radius: 4px;
    margin: 0 0.2em;
  }
}

@media screen and (max-width: 880px) {
  #controls-menu {
    h1.title {
      position: relative;
      left: 0;
    }
  }
}
