#controls-menu {
  position: relative;
  display: flex;
  height: 45px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $theme;
  margin-bottom: 1rem;

  h1.title {
    position: absolute;
    left: 1em;
    font-size: 2em;
    cursor: default;

    @media (max-width: 880px) {
      position: relative;
      left: 0;
    }
  }

  .grid-size-slider-container {
    margin: 0.2em 1.5em 0.4em 0;

    @media (max-width: 550px) {
      display: none;
    }

    label[for='grid-size-slider'] {
      display: block;
      text-align: center;
      font-size: 1.5em;
    }
    #grid-size-slider {
      display: block;
      margin: auto;
      width: 7em;
    }
  }

  button {
    appearance: none;
    font-weight: bold;
    border: 2px solid transparent;
    font-family: inherit;
    color: var(--font-color);
    background-color: var(--theme);
    height: 100%;

    &:hover {
      background-color: $highlightColor;
      transition: background-color 0.3s ease;
    }

    &:focus {
      background-color: $highlightColor;
    }

    &:active {
      background-color: rgb(4, 79, 192);
      transition: none;
      border: 2px solid black;
    }
  }

  #animation-speed {
    width: 8.7em;
    padding: 0;
    margin: 0 0.2em;
  }

  #clear-board {
    width: 6em;
    padding: 0;
    margin: 0 0.2em;
  }

  #help {
    width: 25px;
    height: 25px;
    margin-left: 0.5em;
    border-radius: 50%;
    border: 2px solid $highlightColor;
  }
}

//dropdown menu styling
.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid transparent;
  width: 9em;
  height: 100%;
  cursor: default;

  &:hover {
    background-color: $highlightColor;
    transition: background-color 0.3s linear;

    .dropdown-menu-ul {
      display: initial;
    }
  }

  &:focus-within {
    background-color: $highlightColor;

    .dropdown-menu-ul {
      display: initial;
    }
  }

  p {
    font-size: 1.5em;
    cursor: default;
  }

  .dropdown-menu-ul {
    display: none;
    list-style: none;
    position: absolute;
    top: 3em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    width: 15em;
    z-index: 3;
    background-color: $theme;

    button {
      width: 100%;
      font-size: 1.3em;
      padding: 0.5em 1em;
    }
  }
}
