main {
  height: 100%;

  .visualiser {
    // box-sizing: initial;
    height: 98%;
    width: 98%;
    margin: 0 auto;
    background-color: $wallColor;
    font-size: 0;
    line-height: 0;
    border: 1px solid hsl(180, 2%, 44%);
    position: relative;

    @media (max-width: 550px) {
      height: 99%;
      width: 99%;
    }
  }
}

.node {
  display: inline-block;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(180, 2%, 44%);
  padding: 0;
  margin: 0;
  // animation-name: remove-wall;
  // animation-duration: 1s;
}

.visited {
  background-color: hsl(209, 72%, 62%);
  // animation-name: visited;
  // animation-duration: .5s;
}

.path-node {
  background-color: hsla(46, 70%, 60%, 0.842);
}

.wall-node {
  background-color: $wallColor;
  border-color: hsl(180, 2%, 44%);
  // animation-name: wall;
  // animation-duration: .5s;
  // background-color: red;
}

.start-node {
  background-color: hsl(157, 100%, 34%);
  background-image: url('./../assets/checkered-flag.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.end-node {
  background-color: hsl(0, 92%, 64%);
  background-image: url('./../assets/vinyl.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

// @keyframes wall {
//   75% {
//     transform: scale(1.25);
//   }
//   100% {
//     background-color: $wallColor;
//   }
// }

// @keyframes visited {
//   0% {
//     transform: scale(0.2);
//   }
//   25% {
//     border-radius: 50%;
//     background-color: hsl(281, 53%, 24%);
//   }
//   70% {
//     transform: scale(1.2);
//   }
// }

// @keyframes remove-wall {
//   75% {
//     transform: scale(1.25);
//   }
//   100% {
//     background-color: hsl(0, 0%, 100%);
//   }
// }
