@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
  font-weight: bold;
}

#controls-menu {
  position: relative;
  display: flex;
  height: 45px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.93);
  margin-bottom: 1rem;
}
#controls-menu h1.title {
  position: absolute;
  left: 1em;
  font-size: 2em;
  cursor: default;
}
@media (max-width: 880px) {
  #controls-menu h1.title {
    position: relative;
    left: 0;
  }
}
#controls-menu .grid-size-slider-container {
  margin: 0.2em 1.5em 0.4em 0;
}
@media (max-width: 550px) {
  #controls-menu .grid-size-slider-container {
    display: none;
  }
}
#controls-menu .grid-size-slider-container label[for=grid-size-slider] {
  display: block;
  text-align: center;
  font-size: 1.5em;
}
#controls-menu .grid-size-slider-container #grid-size-slider {
  display: block;
  margin: auto;
  width: 7em;
}
#controls-menu button {
  appearance: none;
  font-weight: bold;
  border: 2px solid transparent;
  font-family: inherit;
  color: var(--font-color);
  background-color: var(--theme);
  height: 100%;
}
#controls-menu button:hover {
  background-color: #4d91f7;
  transition: background-color 0.3s ease;
}
#controls-menu button:focus {
  background-color: #4d91f7;
}
#controls-menu button:active {
  background-color: #044fc0;
  transition: none;
  border: 2px solid black;
}
#controls-menu #animation-speed {
  width: 8.7em;
  padding: 0;
  margin: 0 0.2em;
}
#controls-menu #clear-board {
  width: 6em;
  padding: 0;
  margin: 0 0.2em;
}
#controls-menu #help {
  width: 25px;
  height: 25px;
  margin-left: 0.5em;
  border-radius: 50%;
  border: 2px solid #4d91f7;
}

.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid transparent;
  width: 9em;
  height: 100%;
  cursor: default;
}
.dropdown-container:hover {
  background-color: #4d91f7;
  transition: background-color 0.3s linear;
}
.dropdown-container:hover .dropdown-menu-ul {
  display: initial;
}
.dropdown-container:focus-within {
  background-color: #4d91f7;
}
.dropdown-container:focus-within .dropdown-menu-ul {
  display: initial;
}
.dropdown-container p {
  font-size: 1.5em;
  cursor: default;
}
.dropdown-container .dropdown-menu-ul {
  display: none;
  list-style: none;
  position: absolute;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  width: 15em;
  z-index: 3;
  background-color: rgba(48, 48, 48, 0.93);
}
.dropdown-container .dropdown-menu-ul button {
  width: 100%;
  font-size: 1.3em;
  padding: 0.5em 1em;
}

.legend {
  margin: 0;
  width: 100%;
  height: 40px;
}
.legend ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.legend ul li {
  margin: 0 2em;
  position: relative;
  list-style-type: none;
}
.legend ul li span:first-child {
  height: 3em;
  width: 3em;
  position: relative;
  display: inline-block;
  border: 1px solid black;
}
.legend ul li span:last-child {
  font-size: 1.5em;
  display: inline-block;
  margin-left: 0.5em;
  position: relative;
  bottom: 12px;
  color: black;
  font-weight: bold;
}

:root {
  --visualiserWidth: 95vw;
}

main {
  height: calc(100vh - 105px);
}
main .visualiser {
  height: 100%;
  width: var(--visualiserWidth);
  margin: 0 auto;
  background-color: rgba(16, 16, 25, 0.9);
  font-size: 0;
  line-height: 0;
  border: 1px solid #6e7272;
  position: relative;
}
@media (max-width: 550px) {
  main .visualiser {
    height: 100%;
  }
}

.node {
  display: inline-block;
  background-color: white;
  border: 1px solid #6e7272;
  padding: 0;
  margin: 0;
}

.visited {
  background-color: #58a0e4;
}

.path-node {
  background-color: rgba(224, 191, 82, 0.842);
}

.wall-node {
  background-color: rgba(16, 16, 25, 0.9);
  border-color: #6e7272;
}

.start-node {
  background-color: #00ad6b;
  background-image: url("./../assets/checkered-flag.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.end-node {
  background-color: #f84f4f;
  background-image: url("./../assets/vinyl.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

.tutorial-transparency-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.tutorial-transparency-layer .tutorial-wrapper {
  border-radius: 5px;
  width: 80%;
  height: 80%;
  min-width: 600px;
  min-height: 400px;
  max-width: 1000px;
  max-height: 600px;
  display: flex;
  flex-flow: row nowrap;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  width: 0;
  height: 100%;
  opacity: 0;
  background-color: #f7f7f7;
  color: black;
  border-radius: 5px;
  border-bottom: 1px solid #4d91f7;
  overflow: hidden;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-top-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-top-row .slide-number {
  font-size: 1.5em;
  margin: 0.5em 0 0 1em;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-top-row .tutorial-slide-title {
  font-size: 2.2em;
  margin: 0;
  margin-top: 1em;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-top-row button.close-tutorial {
  width: 3.3em;
  background-color: #4d91f7;
  border: 0;
  border-radius: 0 0 0 10px;
  transition: background-color 0.2s ease-in-out;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-top-row button.close-tutorial:hover {
  background-color: #e80202;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-top-row button.close-tutorial:active {
  background-color: rgba(148, 0, 0, 0.8);
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-top-row button.close-tutorial img {
  width: 100%;
  height: 100%;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide img.tutorial-video {
  width: 85%;
  height: auto;
  object-position: center;
  object-fit: contain;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide p.tutorial-text {
  margin: 0;
  font-size: 1.2em;
  width: 90%;
  text-align: center;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide p.tutorial-text strong {
  font-weight: 900;
  font-size: 1.05em;
  text-decoration: underline;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-bottom-row button {
  appearance: none;
  font-family: "Lato", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  background-color: #4d91f7;
  border: 0;
  width: 50%;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-bottom-row button svg {
  height: 2.2em;
  width: 2.2em;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-bottom-row button:hover {
  background-color: #1867dc;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-bottom-row button:active {
  background-color: #0b4aa8;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-bottom-row button:active svg {
  fill: white;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-bottom-row button.previous-tutorial-slide {
  border-right: 1px solid black;
}
.tutorial-transparency-layer .tutorial-wrapper .tutorial-slide .tutorial-bottom-row button.next-tutorial-slide {
  border-left: 1px solid black;
}

.tutorial-transparency-layer.visible {
  opacity: 1;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
}
.tutorial-transparency-layer.visible .tutorial-wrapper .tutorial-slide.visible {
  width: 100%;
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
