@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
#controls-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(48, 48, 48, 0.93);
  margin-bottom: 1rem;
}

#controls-menu h1.title {
  position: absolute;
  left: 1em;
  font-size: 2em;
  margin: 0;
  -ms-grid-column-align: start;
      justify-self: start;
}

#controls-menu .range-input-container {
  margin: 0 0.2em 0 0.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#controls-menu .range-input-container label[for='grid-size-slider'] {
  font-size: 1.5em;
  bottom: 1em;
  left: 1.9em;
}

#controls-menu .range-input-container #grid-size-slider {
  width: 7em;
  top: 0.8em;
}

#controls-menu .dropdown-container {
  position: relative;
  padding: 0 0.5em;
  margin: 0 0.2em;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
}

#controls-menu .dropdown-container:hover {
  background-color: #4d91f7;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#controls-menu .dropdown-container p {
  font-size: 1.5em;
}

#controls-menu .dropdown-container .dropdown-menu-ul {
  display: none;
  list-style: none;
  position: absolute;
  top: 3.6em;
  z-index: 3;
  padding: 0;
}

#controls-menu .dropdown-container .dropdown-menu-ul li:last-child button {
  padding-bottom: 0.5em;
}

#controls-menu .dropdown-container .dropdown-menu-ul li button {
  font-size: 1.2em;
  padding: 0.5em 1em;
  width: 100%;
  border: none;
  background-color: rgba(48, 48, 48, 0.93);
  color: white;
}

#controls-menu .dropdown-container .dropdown-menu-ul li button:hover {
  background-color: #4d91f7;
}

#controls-menu #pathfinding-dropdown ul {
  right: -2.5em;
  width: 170%;
}

#controls-menu #pathfinding-dropdown:hover ul {
  display: block;
}

#controls-menu #maze-dropdown ul {
  width: 250%;
  left: -3.5em;
}

#controls-menu #maze-dropdown:hover ul {
  display: block;
}

#controls-menu button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 1.4em;
  font-weight: bold;
  border: none;
  font-family: 'Lato', Arial, sans-serif;
  color: var(--font-color);
  background-color: var(--theme);
  height: 100%;
  width: 13em;
}

#controls-menu button:hover {
  background-color: #4d91f7;
  -webkit-transition: background-color 0.4s linear;
  transition: background-color 0.4s linear;
}

#controls-menu #animation-speed {
  width: 8.7em;
  padding: 0;
  border-radius: 4px;
  margin: 0 0.2em;
}

#controls-menu #clear-board {
  width: 6em;
  padding: 0;
  border-radius: 4px;
  margin: 0 0.2em;
}

@media screen and (max-width: 880px) {
  #controls-menu h1.title {
    position: relative;
    left: 0;
  }
}

.legend {
  margin: 0;
  width: 100%;
  height: 40px;
}

.legend ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.legend ul li {
  margin: 0 2em;
  position: relative;
  list-style-type: none;
}

.legend ul li span:first-child {
  height: 3em;
  width: 3em;
  position: relative;
  display: inline-block;
  border: 1px solid black;
}

.legend ul li span:last-child {
  font-size: 1.5em;
  display: inline-block;
  margin-left: 0.5em;
  position: relative;
  bottom: 12px;
  color: black;
  font-weight: bold;
}

:root {
  --visualiserWidth: 95vw;
}

main {
  height: calc(100vh - 105px);
}

main .visualiser {
  height: 95%;
  width: var(--visualiserWidth);
  margin: 0 auto;
  background-color: rgba(16, 16, 25, 0.9);
  font-size: 0;
  position: relative;
}

main .visualiser div {
  display: inline-block;
}

.node {
  background-color: white;
  border: 1px solid #00031a;
  padding: 0;
  margin: 0;
}

.visited {
  background-color: #58a0e4;
}

.path-node {
  background-color: rgba(224, 191, 82, 0.842);
}

.wall-node {
  background-color: rgba(16, 16, 25, 0.9);
  border-color: #414444;
}

.start-node {
  background-color: #00ad6b;
  background-image: url("../checkered-flag.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.end-node {
  background-color: #f84f4f;
  background-image: url("./../vinyl.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}

@-webkit-keyframes wall {
  75% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    background-color: rgba(16, 16, 25, 0.9);
  }
}

@keyframes wall {
  75% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    background-color: rgba(16, 16, 25, 0.9);
  }
}

@-webkit-keyframes visited {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  25% {
    border-radius: 50%;
    background-color: #491d5e;
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes visited {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  25% {
    border-radius: 50%;
    background-color: #491d5e;
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes remove-wall {
  75% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    background-color: white;
  }
}

@keyframes remove-wall {
  75% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    background-color: white;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: white;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */